* {
    padding: 0;
    margin: 0;
    font-family: serif;
}

body {
    background-color: aquamarine;
}

header {
    width: 100%;
    display: flex;
    background-color: rgba(76, 165, 67, 0.781);
    margin: auto;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    color: aqua;
}

span {
    color: chartreuse;
    text-decoration: none;
}

.groub a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

.img {
    padding: 100px 200px;
    width: 100%
}

.page h1 {
    color: rgb(41, 179, 93);
    font-size: 50px;
}

.page p {
    color: darkolivegreen;
    font-size: 20px;
}

.but i {
    color: rgb(67, 150, 94);
    font-size: 3.3em;
    transition: 0.7s ease;
    display: inline-block;
}

footer {
    background-color: #fff;
    color: black;
    font-size: 20px;
    display: flex;
    justify-items: center;
}

.span2 {
    color: rgb(35, 182, 125);
}

.end-titel {
    font-size: 1.3em;
    font-weight: 600;
}

.icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
    color: #1d9672;
    text-decoration: none;
    margin: 0 10px;
}